body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
}

header {
    background-color:darkslategrey;
    color: #fff;
    padding: 20px 0;
}

    header h1 {
        margin: 0;
    }

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

    nav ul li {
        display: inline;
        margin-right: 20px;
    }

        nav ul li a {
            color: #fff;
            text-decoration: none;
        }

section {
    padding: 40px 0;
}

.services {
    display: flex;
    justify-content: space-between;
}

.service {
    flex-basis: 30%;
    padding: 20px;
    background-color: #f9f9f9;
}

    .service h3 {
        margin-top: 0;
    }

.bg-gray {
    background-color: #f9f9f9;
}

footer {
    background-color: darkslategrey;
    color: #fff;
    padding: 40px 0;
}

    footer address {
        margin-top: 20px;
        font-style: normal;
    }
